guiFlag=true
instanceName=JobSchedulerDefault
browser.type=
interactiveFlag=false
log.clear.interval=86400

job.parallelism=1
job.enable=RestartBrowser
job.RestartBrowser.impl=org.kquiet.jobscheduler.impl.common.RestartBrowser
job.RestartBrowser.dailyStart=02:00:00
job.RestartBrowser.dailyEnd=02:00:01
job.RestartBrowser.interval=43200
job.RestartBrowser.scheduleAfterExec=true
job.RestartBrowser.parameter={}