instanceName=JobSchedulerDefault
gui.enable=false
gui.clearLogInterval=86400
browser.type=

job.parallelism=1
job.enable=RestartBrowser
job.RestartBrowser.impl=org.kquiet.jobscheduler.impl.common.RestartBrowser
job.RestartBrowser.dailyStart=03:00:00
job.RestartBrowser.dailyEnd=03:00:01
job.RestartBrowser.interval=43200
job.RestartBrowser.scheduleAfterExec=true
job.RestartBrowser.parameter={}