instanceName=JobSchedulerTest

job.parallelism=2
job.enable=TestJob2,TestJob1
job.TestJob1.dailyStart=00:00:00
job.TestJob1.dailyEnd=00:00:00
job.TestJob1.interval=1
job.TestJob1.scheduleAfterExec=false
job.TestJob1.parameter={ "testParameter":"paramValue1" }
job.TestJob2.dailyStart=00:00:00
job.TestJob2.dailyEnd=00:00:00
job.TestJob2.interval=1
job.TestJob2.scheduleAfterExec=true
job.TestJob2.parameter={ "testParameter":"paramValue2" }